.bar {
    align-content: center;
    background-color: maroon;
    color: white;
    display: block;
    font: 50px Arial, sans-serif;
    height: 60px;
 
}
ul{
  text-align: left;
}
li {
  display: inline-block;
  font: 20px Arial, sans-serif;
  
}
h1{
  font: 40px Arial, sans-serif;
}
div{
  text-align: center;
}
a{
    margin-right: 10px;
}
.logo{
    height: 50px;
    width: 50px;
  }
  body{
      background-image: url("https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  }
.schoolImg{
    padding-top: 50px;
    width: 80%;
    height: 500px;
}
p{
    overflow: scroll;
}
.schedule{
    width: 75%;
    overflow: scroll;
}